/* Remarker CSS */

height{
	height:100%;
}

body{
	height:100%;
}

.rm_r{
	margin: 0;
	padding: 0px;
	border: 0;
	font-size: 13px;
	font-family: arial,sans-serif;
	vertical-align: baseline;
	background: none;
	line-height: normal;
	width: auto;
	height: auto;
	text-align: left;
	box-sizing: content-box;
}

.rm_r *{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 13px;
	font-family: arial,sans-serif;
	vertical-align: baseline;
	background: none;
	line-height: normal;
		width: auto;
	height: auto;
	text-align: left;
}

.rm_r table{
	border-collapse: collapse;
	border-spacing: 0;
	line-height: normal;

}

.rm_loader_overlay{
	width:100%; 
	height:100%; 
	position:fixed; 
	top:0px; 
	left:0px; 
	right:0px;
	opacity: .90; 
	filter: alpha(opacity=90);
	background-color: #555555; 
	background-image: -moz-linear-gradient(center top, #333333, #000000);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333333), color-stop(1, #000000));
	background-image: linear-gradient(top, #333333, #000000);filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#333333', EndColorStr = '#000000');
	background-repeat: no-repeat;
}

div.rm_popup{
	padding: 20px;
	width: 30%;
	background-color:#FFF;
	position:fixed;
	top: 20%;
	left: 35%;
	border: none;
	margin:auto;
	-moz-box-shadow: 0px 6px 20px #000;
	-webkit-box-shadow: 0px 6px 20px #000;
	box-shadow: 0px 6px 20px #000;
	font-family: arial,sans-serif;	
}

/* ////////////LOGIN BOX//////////// */

#logintable{	
	width: 300px;
	font-family: arial,sans-serif;
	margin: auto;
	padding-top: 90px;
	padding-bottom: 30px;
	/*background-image:url(http://remarker.co.za/images/loginbg.png);*/
	background-repeat:no-repeat;
	border-collapse: separate;
	color: #564B47;
}

#logintable td{
	font-size: 12px;
	font-family: arial,sans-serif;
}


#logintable h4{
	font-family: arial,sans-serif;
	font-size: 20px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
	color: #564B47;
	font-weight: bold;
	
}

#logintable td{
	padding-top: 5px;
}

#rm_sessionEdit, #rm_userEdit{
	color: #000000;
	border: 1px inset;
	height: 35px;
	font-size: 16px;
	margin-left: 5px;
	padding: 5px;
	outline: none;
	text-shadow: 0px 1px 0px #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #717171;
	box-sizing: border-box;		
}
#rm_sessionEdit:focus, #rm_userEdit:focus{
    -webkit-box-shadow: 0px 0px 5px #007eff;
	-moz-box-shadow: 0px 0px 5px #007eff;
	box-shadow: 0px 0px 5px #007eff;
	outline: none;

}

#rm_sessionEdit{
	color: #444444;
}

#loginbtn{
	width:100%;
	height: 45px;
	margin-top: 15px;

}

.greenButton{
	margin:0;
	padding:0;
    background-color: #7fbf4d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7fbf4d), to(#63a62f));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: linear-gradient(top, #7fbf4d, #63a62f);
    border: 1px solid #63a62f;
    border-bottom: 1px solid #5b992b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
    -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
    -ms-box-shadow: inset 0 1px 0 0 #96ca6d;
    -o-box-shadow: inset 0 1px 0 0 #96ca6d;
    box-shadow: inset 0 1px 0 0 #96ca6d;
    color: #fff;
    font: bold 15px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 15px;
    padding: 7px 0 8px 0;
    text-align: center;
    text-shadow: 0 -1px 0 #4c9021;
    box-sizing: border-box;
	
} 

.greenButton:hover {
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76b347), to(#5e9e2e));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
    -ms-box-shadow: inset 0 1px 0 0 #8dbf67;
    -o-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer; }
    
.greenButton:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -ms-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -o-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; 
}

.redButton{
	margin:0;
	padding:0;
    background-color: #cf473d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cf473d), to(#b7291f));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #cf473d, #b7291f);
    background-image: -moz-linear-gradient(top, #cf473d, #b7291f);
    background-image: -ms-linear-gradient(top, #cf473d, #b7291f);
    background-image: -o-linear-gradient(top, #cf473d, #b7291f);
    background-image: linear-gradient(top, #cf473d, #b7291f);
    border: 1px solid #b7291f;
    border-bottom: 1px solid #a8261c;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #d76961;
    -moz-box-shadow: inset 0 1px 0 0 #d76961;
    -ms-box-shadow: inset 0 1px 0 0 #d76961;
    -o-box-shadow: inset 0 1px 0 0 #d76961;
    box-shadow: inset 0 1px 0 0 #d76961;
    color: #fff;
    font: bold 15px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 15px;
    padding: 7px 0 8px 0;
    text-align: center;
    text-shadow: 0 -1px 0 #a12611;
    box-sizing: border-box;
	
} 

.redButton:hover {
    background-color: #c24538;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c24538), to(#ae2c1e));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #c24538, #ae2c1e);
    background-image: -moz-linear-gradient(top, #c24538, #ae2c1e);
    background-image: -ms-linear-gradient(top, #c24538, #ae2c1e);
    background-image: -o-linear-gradient(top, #c24538, #ae2c1e);
    background-image: linear-gradient(top, #c24538, #ae2c1e);
    -webkit-box-shadow: inset 0 1px 0 0 #cb665b;
    -moz-box-shadow: inset 0 1px 0 0 #cb665b;
    -ms-box-shadow: inset 0 1px 0 0 #cb665b;
    -o-box-shadow: inset 0 1px 0 0 #cb665b;
    box-shadow: inset 0 1px 0 0 #cb665b;
    cursor: pointer; }
    
.redButton:active {
    border: 1px solid #a8261c;
    border-bottom: 1px solid #9b2219;
    -webkit-box-shadow: inset 0 0 8px 4px #9b271b, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 4px #9b271b, 0 1px 0 0 #eeeeee;
    -ms-box-shadow: inset 0 0 8px 4px #9b271b, 0 1px 0 0 #eeeeee;
    -o-box-shadow: inset 0 0 8px 4px #9b271b, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #9b271b, 0 1px 0 0 #eeeeee; 
}

/* ////////////LOGIN BOX - END //////////// */

/* ////////////SIDE BAR -START //////////// */

div.rm_sideBar{
	width: 300px;
	height: 100%;
	background-color:#272727;	
	position:fixed;
	top:0px;
}

.rm_sideBar .headerBar{
	width: 100%;
	height: 40px;
	background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76b347), to(#5e9e2e));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
}

.rm_sideBar  #flipButton{
	height: 40px;
	float:right;
	width:49px;
	
}
.rmOnLeft{
	background-image:url(../images/arrowRight.png);
}

.rmOnRight{
	background-image:url(../images/arrowLeft.png);
}

.rmOnLeft:hover{
	background-image:url(../images/arrowRightOver.png);
}

.rmOnRight:hover{
	background-image:url(../images/arrowLeftOver.png);
}


.rm_sideBar  .filterBar{
	width: 100%;
	height: 25px;
	background-color: #161616;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#161616), to(#272727));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #161616, #272727);
    background-image: -moz-linear-gradient(top, #161616, #272727);
    background-image: -ms-linear-gradient(top, #161616, #272727);
    background-image: -o-linear-gradient(top, #161616, #272727);
    background-image: linear-gradient(top, #161616, #272727);
	
}

.rm_sideBar .filterBar p{

	color: #CCFFCC;
	font: bold 12px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	padding-top: 5px;
	padding-left: 5px;
	text-shadow: 0 -1px 0 #555555;

}

.rm_sideBar  a.filterButton{
	height: 25px;
	width:27px;
	background-position: top left;	
	
	float:right;
	
}

.rm_sideBar  a.filterButton:hover{
	background-position: bottom right;	
	
}

#designButton{
	background-image:url(../images/designBtn.png);
}
#bugButton{
	background-image:url(../images/bugBtn.png);
}
#doneButton{
	background-image:url(../images/doneBtn.png);
}
#impButton{
	background-image:url(../images/impBtn.png);
}

.rm_sideBar  a.sortButton{
	height: 25px;
	width:30px;
	background-color:#3F3;	
	float:right;	
}

.rm_sideBar  a.sortButton:hover{
	background-color:#C63;	
}


.rm_sideBar  .innerContent{
	width: 98%;
	height: 200px;
	background-color:#e0e0e0;
	margin-left: 1%;
	overflow-y:scroll;
	
	
}

.rm_sideBar  .createBar{
	width: 100%;
	height: 50px;
	background-color: #272727;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#272727), to(#161616));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #272727, #161616);
    background-image: -moz-linear-gradient(top, #272727, #161616);
    background-image: -ms-linear-gradient(top, #272727, #161616);
    background-image: -o-linear-gradient(top, #272727, #161616);
    background-image: linear-gradient(top, #272727, #161616);
	position:absolute;
	bottom:0;
	
}

.rm_sideBar  #createButton{	
	width: 296px;
	height: 46px;
	margin-left: 2px;
	margin-top: 2px;	
}

/* ////////////SIDE BAR - END ////////////// */

/* /////////// NEW EDIT BAR -START /////////// */

.rm_sideBar  #addButton{	
	width: 200px;
	height: 46px;
	margin-left: 2px;
	margin-top: 2px;	
}

.rm_sideBar  #backButton{	
	width: 96px;
	height: 46px;
	margin-left: 2px;
	margin-top: 2px;	
}

.rm_sideBar #rm_tagContent{
	width: 290px;
	height: 200px;
	margin-left: 5px;
	background-color: #FFFFFF;
	border: 1px inset;
	padding: 5px;
	outline: none;
	text-shadow: 0px 1px 0px #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #717171;
	box-sizing: border-box;	
	resize: none;
}

.rm_sideBar #rm_tagContent:focus{
    -webkit-box-shadow: 0px 0px 5px #00ff00;
	-moz-box-shadow: 0px 0px 5px #00ff00;
	box-shadow: 0px 0px 5px #00ff00;
	outline: none;

}

.rm_sideBar .contentBox{
	width: 290px;
	margin-left: 5px;
	background-color: #FFFFFF;
	border: 1px inset;
	padding: 5px;
	outline: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #717171;
	box-sizing: border-box;	
	


}

.rm_sideBar .checkBox{
	width: 290;
	height: 25px;
	
	color: #222222;
	font: bold 12px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	padding: 5px;
	margin-left:5px;
	margin-top:3px;


}

.rm_sideBar .checkBox input{
	
	vertical-align:middle;


}

.rm_sideBar  span{
	vertical-align: middle;
	padding:3px;
}

.rm_sideBar .checkBox .g{
	color: #999999;
	font: normal 10px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-style: italic;
	


}

#rm_chooseElementButton{
	width: 34px;
	height: 34px;
	background-image:url(../images/selEBtn.png);
	float: left;
}

#rm_chooseElementButton.down{
	background-image:url(../images/selEBtnDown.png);

}

#rm_unchooseElementButton{
	width: 22px;
	height: 22px;
	background-image:url(../images/miniX.png);
	float: right;

}

#rmXPspan{
	color: #999999;
	font: normal 12px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-style: italic;
	
}



/* //////////// NEW EDIT BAR - END //////////// */


.rm_obox {
	margin: 0;
	padding: 0px;
	border: 0;
	font-size: 100%;
	font-family: arial,sans-serif;
	vertical-align: baseline;
	position:absolute;
	top:0px;
	left:0px;
	border:1px solid;
	width: 10px;
	height: 10px;	
	pointer-events: none;
	opacity:0.4;
}


/*//////////////*/

.rmtagHeading{
	width: 100%;
	height: 25px;
	background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76b347), to(#5e9e2e));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
	
}
.rmtagHeading .rms1{
	color:#ffffff;
	font: normal 12px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	float:left;	
}
.rmtagHeading .rms2{
	color:#bcd7a7;
	font: normal 10px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	float:right;	
}

.rmtagContent{
	background-color: #ffffff;
	width: 96%;
	margin-left:1%;
	margin-bottom:5px;
	border-left: 1px solid #878787;
	border-right: 1px solid #878787;
	border-bottom: 1px solid #878787;
	padding:1%;
	
}

.rmcenterT{
	
	color:#ffffff;
	font: normal 12px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	margin-left:10px;
	margin-top:4px;
	text-shadow: 0 0 4px #555555;
}
.rmTagTypeDiv{
	width:100%;
	height: 22px;
	margin-top:3px;

}
.rmTagTypeLabel{	
	float:right;
	width:20px;
	height: 20px;
	background-color: #dddddd;
	margin:1px;
}

.rmTTLB{
	background-image:url(../images/miniBug.png);
}
.rmTTLD{
	background-image:url(../images/miniBrush.png);
}
.rmTTLI{
	background-image:url(../images/miniImp.png);
}
.rmTTLT{
	background-image:url(../images/miniTick.png);
}

a.rmTTarget{

	float:left;
	width:20px;
	height: 20px;
	background-color: #ff0000;
	margin:1px;
	background-image:url(../images/miniTarget.png);


}


/*//////////////////////////////*/